#index
  = image_tag 'slides/index/00.jpg'
  = image_tag 'slides/index/01.jpg'
  = image_tag 'slides/index/02.jpg'
  = image_tag 'slides/index/03.jpg'

#villas
  = image_tag 'slides/villas/00.jpg'
  = image_tag 'slides/villas/01.jpg'
  = image_tag 'slides/villas/02.jpg'
  = image_tag 'slides/villas/03.jpg'

#activities
  = image_tag 'slides/activities/00.jpg'
  = image_tag 'slides/activities/01.jpg'
  = image_tag 'slides/activities/02.jpg'
  = image_tag 'slides/activities/03.jpg'
  = image_tag 'slides/activities/04.jpg'

#rates-and-bookings
  = image_tag 'slides/rates-and-bookings/00.jpg'
  = image_tag 'slides/rates-and-bookings/01.jpg'
  = image_tag 'slides/rates-and-bookings/02.jpg'
  = image_tag 'slides/rates-and-bookings/03.jpg'

#privacy
  = image_tag 'slides/privacy/00.jpg'

#photogallery
  = image_tag 'slides/photogallery/00.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/01.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/02.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/03.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/04.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/05.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/06.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/07.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/08.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/09.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/10.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/11.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/12.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/13.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/14.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/15.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/16.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/17.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/18.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/19.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/20.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/21.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/22.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/23.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/24.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/25.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/26.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/27.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/28.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/29.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/30.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/31.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/32.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/33.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/34.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/35.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/36.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/37.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/38.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/39.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/40.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/41.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/42.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/43.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/44.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/45.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/46.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/47.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/48.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/49.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/50.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/51.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/52.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/53.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/54.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/55.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/56.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/57.jpg', :'data-caption' => ''
  = image_tag 'slides/photogallery/58.jpg', :'data-caption' => ''
